git+https://github.com/pool-energy/chia-blockchain.git@release/2.5.7#egg=chia-blockchain
chia_rs==0.30.0
setuptools>=75.5.0
uvloop~=0.22.1
aiopg==1.4.0
aiohttp~=3.12.14
pytest==8.4.2
cachetools==6.2.1
influxdb-client==1.49.0
python-json-logger==3.3.0
py-spy==0.4.0
pytest-asyncio==1.1.0
isHex==1.1.0
