git+https://${GITHUB_TOKEN}@github.com/pool-energy/chia-blockchain.git@stable/2.4
chia_rs>=0.5.2
setuptools>=75.2.0
uvloop~=0.21.0
aiopg==1.4.0
aiohttp~=3.9.1
pytest==8.3.3
cachetools==5.5.0
influxdb_client==1.47.0
python-json-logger==2.0.7
py-spy==0.3.14
pytest-asyncio==0.24.0
isHex==1.1.0
